.modal-content{
    border-radius: 10px 10px 0 0;
}

#taskDesc{
    resize: none;
}

.card {
    text-transform: capitalize;
}

.card-header{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
